<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>/Ascii Navi/</title>
    <style type="text/css">
        body{
font-family:sans-serif;
width:800px;
margin: 0 auto;
padding: 10px;
}

.error{
color:red;
}

label{
    display:block;
    font-size:20px;
}

input[type=submit]{
font-size:24px;
}

hr{
margin: 20px;
}

.art + .art{
margin-top:20px;
}

.art-title{
font-weight:bold;
font-size: 20px;
}

.art-body{
margin:0
font-size:17px
}

    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
